#container {
	display: flex;
	background-color: #eee;
	width: 80%;
	margin: auto;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

#product-card {
	margin: 10px;
	padding: 10px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,;background-color: white;
	border-radius: 10px;
}